inventory_cache.json
activity.log
items_sin_documentos.json
config.json
items_sin_documentos.xlsx
.env
__pycache__/browser_search.cpython-314.pyc

__pycache__/config_manager.cpython-314.pyc
__pycache__/dialogs.cpython-314.pyc
__pycache__/threads.cpython-314.pyc
__pycache__/zoho_api.cpython-314.pyc
__pycache__/utils.cpython-314.pyc
build/InventoryManager/localpycs/struct.pyc
build/InventoryManager/localpycs/pyimod03_ctypes.pyc
build/InventoryManager/localpycs/pyimod04_pywin32.pyc
build/InventoryManager/localpycs/pyimod02_importers.pyc
build/InventoryManager/localpycs/pyimod01_archive.pyc
build/InventoryManager/xref-InventoryManager.html
build/InventoryManager/warn-InventoryManager.txt
build/InventoryManager/PYZ-00.pyz
build/InventoryManager/PYZ-00.toc
build/InventoryManager/PKG-00.toc
build/InventoryManager/InventoryManager.pkg
build/InventoryManager/EXE-00.toc
build/InventoryManager/base_library.zip
build/InventoryManager/Analysis-00.toc
__pycache__/secure_config.cpython-314.pyc
InventoryManager.spec
dist/InventoryManager.exe
__pycache__/paths.cpython-314.pyc
inventory_full.db
inventory.db
